<head>
  <style>
    body {
      display: flex;
      justify-content: center;
    }
    img {
      border-radius: 50%;
      border: 1px solid red;
      padding: 2px;
    }
    div {
      margin-top: 10px;
      color: Green;
      font-family: roboto;
      border: 1px solid red;
      padding: 10px;
      width: 500px;
      height: fit-content;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #e5e5e5;
    }
  </style>
</head>
<body>
  <div>
    <h3 align="center">Assignment 1 Day-2</h3>
    <br />
    <hr />
    <table>
      <tr>
        <thead>
          <th>Id</th>
          <th>Avatar</th>
          <th>Email Id</th>
          <th>First Name</th>
          <th>Last Name</th>
        </thead>
      </tr>
      <% for(item of profileObj){ %>
      <tr>
        <td><%=item.id %></td>
        <td><img src="<%=item.avatar %>" alt="" height="50px" /></td>
        <td><%=item.email %></td>
        <td><%=item.first_name %></td>
        <td><%=item.last_name %></td>
      </tr>
      <% } %>
    </table>
  </div>
</body>
